.navbar{
  justify-content: space-between;
}

span{
  padding-right: 1rem;
}

table {
  width: 100%;
}

.cadastro-button{
  margin: 5% 1% 1% 1%;
  float: right;
}

.cadastro-button button{
  background-color: rgb(83, 172, 91);
  color: white;
}